/*agregamos nuestra fuente desde local.*/
@font-face {
    font-family: 'Dancing'; 
    src: url('../assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf') format('truetype'); 
}


body{
  font-family:'Dancing';
}
/*Agrego en el conteiner el color.*/
.container{
    text-align: center;
    background: radial-gradient(circle, rgb(21, 24, 204), rgb(36, 157, 217));
    max-width: 600px;
    margin: auto;
    padding: 5px !important;
    border-radius: 5px;
    box-shadow: 0,0,0,2,black;
    
}
button{
    margin: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    font-family: 'Dancing'!important;
}